<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Simulator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes">
    <style type="text/css">
        h1 {
            text-align: center;
        }

        .center {
            text-align: center;
        }

        #container div {
            margin: 10px;
        }

        .host {
            color: brown;
        }

        .player1 {
            color: green;
        }

        .player2 {
            color: blue;
        }

        .player3 {
            color: rgb(9, 14, 9);
        }
    </style>
</head>

<body>

    <div class="header">
        <h1>Sedma simulator</h1>

        <div id="container"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="/js/communication-handler.js"></script>

    <table>
        <tr>
            <td>Host</td>
            <td>Player 1</td>
            <td>Player 2</td>
            <td>Player 3</td>
        </tr>
        <tr>
            <td id="error-host"></td>
            <td id="error-p1"></td>
            <td id="error-p2"></td>
            <td id="error-p3"></td>
        </tr>
        <tr>
            <td id="table-host"></td>
            <td id="table-p1"></td>
            <td id="table-p2"></td>
            <td id="table-p3"></td>
        </tr>
        <tr>
            <td id="cards-host"></td>
            <td id="cards-p1"></td>
            <td id="cards-p2"></td>
            <td id="cards-p3"></td>
        </tr>
        <tr>
            <td id="result-host"></td>
            <td id="result-p1"></td>
            <td id="result-p2"></td>
            <td id="result-p3"></td>
        </tr>
        <tr>
            <td>
                <button onclick="payCard('0', 'host')">play 0</button><br />
                <button onclick="payCard('1', 'host')">play 1</button><br />
                <button onclick="payCard('2', 'host')">play 2</button><br />
                <button onclick="payCard('3', 'host')">play 3</button>
            </td>
            <td>
                <button onclick="payCard('0', 'p1')">play 0</button><br />
                <button onclick="payCard('1', 'p1')">play 1</button><br />
                <button onclick="payCard('2', 'p1')">play 2</button><br />
                <button onclick="payCard('3', 'p1')">play 3</button>
            </td>
            <td>
                <button onclick="payCard('0', 'p2')">play 0</button><br />
                <button onclick="payCard('1', 'p2')">play 1</button><br />
                <button onclick="payCard('2', 'p2')">play 2</button><br />
                <button onclick="payCard('3', 'p2')">play 3</button>
            </td>
            <td>
                <button onclick="payCard('0', 'p3')">play 0</button><br />
                <button onclick="payCard('1', 'p3')">play 1</button><br />
                <button onclick="payCard('2', 'p3')">play 2</button><br />
                <button onclick="payCard('3', 'p3')">play 3</button>
            </td>
        </tr>
        <tr>
            <td><button onclick="host.send('fetch')">fetch</button></td>
            <td><button onclick="p1.send('fetch')">fetch</button></td>
            <td><button onclick="p2.send('fetch')">fetch</button></td>
            <td><button onclick="p3.send('fetch')">fetch</button></td>
        </tr>
    </table>

    <script>

        var game = false;

        function payCard(card, label) {
            window[label].send("play", card)
        }

        function logMessage(label) {
            return function (message) {

                if (!game) {
                    game = message.data;
                }

                switch (message.action) {
                    case "error":
                        $('#error-' + label).html(message.data);
                        break;
                    case "table":
                        $('#table-' + label).html(message.data);
                        break;
                    case "result":
                        $('#result-' + label).html(message.data);
                        break;
                    case "cards":
                        var html = '';
                        var cards = JSON.parse(message.data)
                        for (var card of cards) {
                            html += '<div class="' + label + '-card">' + card.number + " - " + card.type + '</div>'
                        }
                        $('#cards-' + label).html(html);
                        break;
                }

                console.log(label);
                console.log(message);
            }
        }

        var address = "ws://" + window.location.host + "/ws";
        var host, p1, p2, p3;

        $(function () {

            host = communicationHandler(address, logMessage('host'));
            host.connect("11a");

            p1 = communicationHandler(address, logMessage('p1'));
            p1.connect("11b");

            p2 = communicationHandler(address, logMessage('p2'));
            p2.connect("11c");

            p3 = communicationHandler(address, logMessage('p3'));
            p3.connect("11d");

            var steps = [
                function () {
                    console.log('start');
                },
                function () {
                    host.send('start');
                },
                function () {
                    p1.send('join', game);
                },
                function () {
                    p2.send('join', game);
                },
                function () {
                    p3.send('join', game);
                },
                function () {
                    host.send('begin');
                },
            ];

            for (var i = 0; i < steps.length; i++) {
                setTimeout(steps[i], 500 * i);
            }
        });

    </script>

</body>

</html>